<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfdzv5C25dG9Y0-HWZ9lHFjJHbMyX5EIc</string>
	<key>GCM_SENDER_ID</key>
	<string>403543323925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solmate.app1</string>
	<key>PROJECT_ID</key>
	<string>solmate-innovit</string>
	<key>STORAGE_BUCKET</key>
	<string>solmate-innovit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403543323925:ios:06c7657007f7a8c216651c</string>
</dict>
</plist>